extends base

block content
  
  ///////////////////////////////////////////////////////// MAIN
  main.main
    //////////////////////////////////////// CARD CONTAINER
    .card-container
      //- Loops through each team in the database creating a card for each
      each team in teams 
        a.card(href=`/team/${team.slug}`)
          //////////////////////// CARD HEADER
          .card__header
            .card__picture
              img.card__picture-img(src=`/img/logos/${team.logo}`, alt=`${team.market} ${team.name}`)

          /////////////////////// CARD FOOTER
          .card__footer
            span.card__footer-text= `${team.market} ${team.name}`
